# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
.env.*
!.env.example

# Streamlit
.streamlit/secrets.toml

# Version control
.git
.gitignore

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
